body {
  background-color: #2e261f;
  font-family: "Georgia", serif;
  color: #f4e9d8;
  margin: 0;
  padding: 0;
}

#container {
  width: 960px;
  margin: 20px auto;
  background: #3a3129;
  padding: 20px;
  border: 3px solid #d4b88c;
  border-radius: 6px;
  box-shadow: 0 0 15px #000;
}

h1,
h2 {
  font-family: "Georgia", serif;
  color: #d4b88c;
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 25px;
  text-shadow: 2px 2px #000;
}

h2 {
  border-bottom: 2px solid #d4b88c;
  padding-bottom: 4px;
}

.columnas {
  display: flex;
  gap: 20px;
}

.col-izq {
  width: 260px;
  background: #4a4037;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #d4b88c;
}

.col-izq ul {
  list-style: disc;
  padding: 10px;
}

.col-izq li {
  margin-bottom: 10px;
}

.col-der {
  width: 700px;
  background: #4a4037;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #d4b88c;
}

.lista-contenido {
  column-count: 3;
  column-gap: 20px;
  margin-top: 15px;
}

p {
  text-align: justify;
}

#container {
  background-size: cover;
  background-blend-mode: multiply;
}

.col-izq,
.col-der {
  background-size: cover;
  background-blend-mode: multiply;
}
